/* Universal selector to remove default styling. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* Setting font size, family, and backgroud color for body section */
body{
	font-size: 20px;
	font-family: monospace;
	background-color: rgba(117, 223, 217, 0.829);
}

.view-scores{
	margin: 20px;
	font-size: 1.0em;
	font-weight: 30px;
}

.countdown{
	margin: 20px;
	font-size: 1.0em;

}

.container{
	margin : 20px auto;
	background-color: white;
	height: 600px;
	width : 1000px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px 0px;
	position: relative;
}


.start-quiz{
	font-size: 1.5em;
	font-weight: bolder;
	word-break: keep-all;
	width:850px;
	height:550px;
	border : 2px solid lightgrey;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left:70px;
	top:30px;
	color : rgb(158, 158, 158);
}

.start-button:hover{
	border: 3px solid lightseagreen;
	color : lightseagreen;
}

.quiz{
	position: absolute;
	left:200px;
	top:50px;	
}
   
.question{
	width:700px;
	height : 125px;
	right: 200px;
	top:20px;
	font-size: 1.5em;
}
	 
.question p{
	margin : 0;
	padding : 15px;
	font-size: 1.25em;
}
    
.choices{
	width : 480px;
	right : 200px;
	top : 125px;
	padding : 10px
}

.choice{
	display: inline-block;
	width : 300px;
	height: fit-content;
	text-align: center;
	border : 1px solid grey;
	border-radius: 5px;
	cursor: pointer;
	padding : 15px;
}

.choice:hover{
	border : 2px solid lightseagreen;
	font-weight: bold;
}

.input-card{
	font-size: 1.5em;
	font-weight: bolder;
	word-break: keep-all;
	width:850px;
	height:550px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left:70px;
	top:30px;
	color : rgb(158, 158, 158);	
}

.card{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

.card h1{
	margin-top: 40px;
	color: seagreen;
}
#score-form input{
	width: 500px;
}

#high-scores{
	color : rgb(158, 158, 158);		
	font-size: 1.5em;
	font-weight: bolder;
}